* {
    padding: 0;
    margin: 0;
    font-family: 'Eagle Lake', sans-serif;
}


html {
    scroll-behavior: smooth;
}

p {
    font-size: 20px;

}

h2 {
    color: rgb(44, 35, 25);
    
}

body {
    background-image: url(/imagens/castlevania__sotn___entrance__with_dust_scratches_.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.548);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.logo img {
   
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 500px;
   
}

a {
    text-decoration: none;
    color: inherit;
    
}

.nav {
    background-color: peru;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 30px;
}

header ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

header li {
    
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}




.intro {
    background-image: url(/imagens/sotn_capa.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

#hist {
    background-color: #b4b4b479;
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
}

.História {
    background-color: rgb(189, 145, 101);
    width: 80%;
    padding: 20px;
    text-align: justify;
    line-height: 1.6;
    gap: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#persona {
    background-color: #b4b4b479;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#persona img {
    box-shadow: 10px 10px 10px #00000050;
    border-radius: 20px;
}

.persona-cards {
    /* background-color: #b4b4b479; */
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.flip-card {
    width: 300px;
    height: 300px;
    background-color: transparent;
    perspective: 1000;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner h3 {
    font-weight: bold;

}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, 
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.Gameplay {
    background-color: rgb(189, 145, 101);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#gameplay {
    background-color: #b4b4b479;
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
}

.Gameplay {
    
    width: 80%;
    padding: 20px;
    text-align: justify;
    line-height: 1.6;
}

.titulo {
    padding: 30px; 
    /* background-color: #b4b4b479; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

footer {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
}

footer h4 {
    font-size: 30px;
}
footer form {
    padding: 20px;
}

footer label {
    font-size: 30px;
}

input {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-right: 15px;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-left: 15px;
}

@media (max-width:1190px){
    footer form {
        display: flex;
        flex-direction: column;
    }
}

.hamburger-menu {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 700px) {
    .hamburger-menu {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 2;
        padding: 24px;
        width: 30px;
        height: 30px;
        background-color:peru;
        border-radius: 100%;

        background-image: url('/imagens/menu_hamburger_open.png');
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hamburger-menu.menu-active {
        background-image: url('/imagens/menu_hamburger_close.png');
    }

    .nav {
        display: none;
        position: fixed;
        top: 0px;
        right: 0;
        /*width: 80%; */
        height: 100vh;
        background-color: peru;
        border-radius: 0px;
        flex-direction: column;
        padding: 20px;
        padding-top: 70px;
        z-index: 1;
    }

    .nav ul {
        flex-direction: column;
        gap: 30px;
    }

}
